<!DOCTYPE html>
{% load static %}
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title> About Us Page </title>
    <link rel="stylesheet" href="{% static 'css/ab.css' %}">
</head>
<body>
     <img src="{% static 'images/backgroung.jpg' %}"  class="bg">
     <h1>TARS CARS</h1>
     <img src="{% static 'images/1.webp' %}"  class="ava">
     <img src="{% static 'images/2.png' %}"  class="avat">
     <img src="{% static 'images/5.webp' %}"  class="avatar">
     <img src="{% static 'images/4.jpg' %}"  class="avatar2">
     <img src="{% static 'images/3.jpg' %}"  class="avatar3">
     <p>Tar Car Service (TCS) is a $37 million organisation. 
        It is a leading global Car Service company. 
        Its diverse portfolio includes an extensive range of cars, sports utility vehicles, trucks, buses and defence vehicles.
         Tar Cars is one of India's largest OEMs offering an extensive range of integrated, smart and e-mobility solutions.
    </p>

    <div class="l">
        <p>
            Part of the USD128 million Tar group founded by Jamsetji Tar in 1998, Tar Cars is among the world’s leading Car Serice Compsny. 
            We believe in ‘Connecting aspirations’, by offering innovative mobility solutions that are in line with customers' aspirations.
             We are India's largest automobile manufacturer, and we continue to take the lead in shaping the Indian commercial vehicle landscape, with the introduction of leading-edge powertrains and electric solutions packaged for power performances and user comfort at the lowest life-cycle costs.
              Our new passenger cars and utility vehicles are based on Impact Design and offer a superior blend of performance, driveability and connectivity.
        </p>
    </div>
    <div class="o">
        <p>
            Our focus on connecting aspirations and our pipeline of tech-enabled products keeps us at the forefront of the market.
             We have identified six key mobility drivers that will lead us into the future – modular architecture, complexity reduction in manufacturing, connected & autonomous vehicles, clean drivelines, shared mobility, and low total cost of ownership. 
             Our sub-brand TAMO is an incubating centre of innovation that will spark new mobility solutions through new technologies, business models and partnerships
        </p>
    </div>   
    

</body>
</html>
     